/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    /*-webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */*/
    background-color:white;
    font-family: "open_sansregular", Arial, sans-serif;
    font-size:62.5%;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
    overflow: hidden;
    -webkit-transform:matrix3d(0,0,0,0);
            transform:matrix3d(0,0,0,0);
}

h1,h2,h3,h4,h5,h6 {
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  font-family: "old_standard_ttregular", Lucida, serif;
}

/* Portrait layout (default) */
.app {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    font-size: 1.2em;
    text-align:left;
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
}

#overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgb(28, 29, 37);
  opacity: 0.5;
  -webkit-transition: opacity 0.4s;
          transition: opacity 0.4s;
}

.popUpBox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position:fixed;
  width: auto;
  height: auto;
  padding: 7px 15px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%,-1000%);
      -ms-transform: translate(-50%,-1000%);
          transform: translate(-50%,-1000%);
  background-color: white;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  z-index: 100;
  -webkit-transition: -webkit-transform 0.4s;
          transition: transform 0.4s;
}

.popUpBox form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.popUpBox form input {
  margin: 7px 0;
}

#newOeuvrePopUpBox {
  z-index: 120;
}

/* MAIN STYLE */

.Mouvements,.Words,.Artistes {
  position: relative;
  width: 33.33333333333333%;
  overflow: hidden;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.Word:first-child {
  margin-top: 65px;
}

.item-wrapper {
  /*position: absolute;*/
  overflow-y: scroll;
  height: 100vh;
  width: 100%;
}

.item-wrapper .Word,.item-wrapper .Mouvement, .item-wrapper .Artiste {
  -webkit-transition: background-color 0.6s ease-out;
          transition: background-color 0.6s ease-out;
}

.Mouvement,.Word,.Artiste {
  padding: 10px;
}

.Mouvements img,.Mots img,.Artistes img {
  width:100%;
  max-width: 300px;
}

.description-block {
  width: 100%;
  text-align: justify;
}


.head-page {
  display: none;
  width: 100%;
  height: 100%;
}

#head-word {
  background-image: url("../img/head-word.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

#head-mouvement {
  background-image: url("../img/head-mouvement.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

#head-artistes {
  background-image: url("../img/head-artistes.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

.gr {
  background-color: #67cd79;
  color: #4ea561;
}

.bl {
  background-color: #66cec5;
  color: #4da3a0;
}

.or {
  background-color: #dede7c;
  color: #a29b4c;
}

h1 span {
  display: block;
  font-size: 0.7em;
  font-weight: normal;
  font-style: italic;
  color: rgb(139, 139, 139);
}

.oeuvre-description p span {
  display: block;
  font-size: 0.8em;
  font-weight: normal;
  font-style: italic;
  color: rgb(139, 139, 139);
}

.oeuvre-container {
  text-align: center;
}

.oeuvre {
  display: inline-block;
  max-width: 135px;
  vertical-align: top;
  word-wrap: break-word;
  text-align:center;
}

.oeuvre img {
  display: inline-block;
  max-width: 100px;
}

.oeuvre-description{
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
  margin-top: -10px;
}

.oeuvre-description p span {
  font-size: 0.8em;
  color: rgb(92, 90, 93);
}

@media screen and (max-width: 900px) {
  .popUpBox {
    width: 80%;
  }
  .head-page {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.searchbar {
  position: absolute;
  width: 33.333333%;
  height: 35px;
  -webkit-transition: -webkit-transform 0.4s ease-out;
          transition: transform 0.4s ease-out;
  -webkit-transform: translate(0,-100px);
      -ms-transform: translate(0,-100px);
          transform: translate(0,-100px);
  background-color: transparent;
  text-align: center;
}

input[type="search"] {
  outline: none;
  width: 60%;
  margin: 10px auto;
  padding: 15px;
  background-color: rgba(255,255,255,0.4);
  color: rgb(84, 84, 84);
  border: none;
  border-bottom: 1px rgb(176, 176, 176) solid;
}

#researchToggle {
  display: block;
  position: fixed;
  bottom: 6%;
  right: 2%;
  width: 32px;
  height: 32px;
  outline: none;
  border: none;
  background-color: rgb(142, 142, 142);
  border-radius: 2em;
  cursor: pointer;
}

.alphabetSort {
  display: none;
  width: 32px;
  height: 32px;
  font-size : 1.8em;
  text-align: center;
  font-weight: bold;
  background-color: rgb(24, 24, 24);
  color: white;
  border-radius: 2em;
  -webkit-transition: -webkit-transform 0.4s ease-out;
          transition: transform 0.4s ease-out;
  -webkit-transform: translate(-200px);
      -ms-transform: translate(-200px);
          transform: translate(-200px);
}

.delete, .modify {
  display: inline-block;
  background-color: #434443;
  border: none;
  font-size: 1.4em;
  color: white;
  padding: 2px 5px;
  margin: 5px 0px;
  cursor: pointer;
  -webkit-transition: background-color 0.2s;
          transition: background-color 0.2s;
}

button[type="submit"] {
  position:absolute;
  bottom: 1%;
  right: 5%;
  outline: none;
  background-color: #434443;
  border: none;
  font-size: 1.4em;
  color: white;
  padding: 5px 8px;
  cursor: pointer;
  -webkit-transition: background-color 0.2s;
          transition: background-color 0.2s;
}

.delete:hover, .modify:hover, button[type="submit"]:hover {
  background-color: #666a66;
}

@media screen and (max-width: 1080px) {
  .app {
      display: block;
      width: auto;
  }
  .Mouvements,.Words,.Artistes {
    display: inline-block;
    width:100%;
    height: 100%;
  }
}

@media screen and (max-width: 800px) {
  .searchbar {
    position: fixed;
    width: 100%;
    height: 65px;
    top: 0%;
    -webkit-transform: translate(0,-65px);
        -ms-transform: translate(0,-65px);
            transform: translate(0,-65px);
    text-align: center;
  }
  #researchToggle {
    bottom: 9%;
  }
  button[type="submit"],.delete, .modify {
    display: none;
  }
}

/* END MAIN STYLE */
