<div class="item-wrapper">
  <div class="head-page" id="head-artistes"></div>
    <h1 class="head or">Artistes</h1>
    <div class="searchbar">
      <input type="search" placeholder="Search" ng-model="searchingTerms">
    </div>
  <div class="Artiste" ng-repeat="artiste in artisteController.artistes track by $index" ng-show="artiste | searching:searchingTerms">
    <div class="alphabetSort" ng-bind="artiste.title | firstLetterAlphabet:'artiste'" alphabetsorting></div>
    <h1>{{artiste.title}}<span>{{artiste.date}}</span></h1>
    <div class="description-block" ng-bind-html="artiste.description"></div>
    <span class="delete" ng-click="artisteController.removeData()" data-id="{{artiste.id}}"><i data-id="{{artiste.id}}" class="fa fa-trash-o"></i></span>
    <span class="modify" ng-click="artisteController.promptModifyData($index)"><i class="fa fa-pencil-square-o"></i></span>
    <div class="oeuvres-container">
      <div ng-repeat="oeuvre in artiste.oeuvres track by $index" class="oeuvre">
        <a href="{{oeuvre.url}}" target="_blank"><img ng-src="{{oeuvre.url}}" title="{{oeuvre.title}}"></a>
        <div class="oeuvre-description">
          <p><b>{{oeuvre.title}}</b> <span>{{oeuvre.date}}</span></p>
          <p ng-bind-html="oeuvre.description"></p>
        </div>
        <span class="delete" ng-click="artisteController.deleteOeuvre($index)" data-id="{{artiste.id}}"><i data-id="{{artiste.id}}" class="fa fa-trash-o"></i></span>
      </div>
    </div>
  </div>
  <button class="btn-primary" type="submit" value="add" ng-click="artisteController.addArtiste()">add Artiste</button>
</div>
<div id="artistePopUpBox" class="popUpBox">
  <form ng-submit="artisteController.modifyData()">
    <input type="text" placeholder="Title" ng-model="artisteController.artistes[artisteController.selectedObjectIndex]['title']">
    <input type="text" placeholder="Date" ng-model="artisteController.artistes[artisteController.selectedObjectIndex]['date']">
    <div ng-model="artisteController.artistes[artisteController.selectedObjectIndex]['description']" class="container" text-angular></div>
    <button class="addOeuvre" ng-click="artisteController.addOeuvre()">+</button>
    <input type="submit">
  </form>
</div>
<div id="newArtistePopUpBox" class="popUpBox">
  <form ng-submit="artisteController.sendArtiste()">
    <input type="text" placeholder="Title" ng-model="artisteController.title">
    <input type="text" placeholder="Date" ng-model="artisteController.date">
    <div ng-model="artisteController.description" class="container" text-angular></div>
    <button class="addOeuvre" ng-click="artisteController.addOeuvre()">+</button>
    <input type="submit">
  </form>
</div>
<div id="newOeuvrePopUpBox" class="popUpBox">
  <form ng-submit="artisteController.saveOeuvre()">
    <h1>Nouvelle Oeuvre</h1>
    <input type="text" placeholder="Title" ng-model="artisteController.oeuvreTitle">
    <input type="text" placeholder="Date" ng-model="artisteController.oeuvreDate">
    <input type="text" placeholder="Url" ng-model="artisteController.oeuvreUrl">
    <div ng-model="artisteController.oeuvreDescription" class="container" text-angular></div>
    <input type="submit">
  </form>
</div>
