<div class="item-wrapper">
  <div class="head-page" id="head-mouvement"></div>
  <h1 class="head bl">Mouvements</h1>
  <div class="searchbar">
    <input type="search" placeholder="Search" ng-model="searchingTerms">
  </div>
  <div class="Mouvement" ng-repeat="mouvement in mouvementController.mouvements track by $index" ng-show="mouvement | searching:searchingTerms">
    <div class="alphabetSort" ng-bind="mouvement.title | firstLetterAlphabet:'mouvement'" alphabetsorting></div>
    <h1>{{mouvement.title}}<span>{{mouvement.date}}</span></h1>
    <div class="description-block" ng-bind-html="mouvement.description"></div>
    <span class="delete" ng-click="mouvementController.removeData()" data-id="{{mouvement.id}}"><i data-id="{{mouvement.id}}" class="fa fa-trash-o"></i></span>
    <span class="modify" ng-click="mouvementController.promptModifyData($index)"><i class="fa fa-pencil-square-o"></i></span>
      <div class="oeuvres-container">
        <div ng-repeat="oeuvre in mouvement.oeuvres track by $index" class="oeuvre">
          <a href="{{oeuvre.url}}" target="_blank"><img ng-src="{{oeuvre.url}}" title="{{oeuvre.title}}"></a>
            <div class="oeuvre-description">
              <p><b>{{oeuvre.title}}</b> <span>{{oeuvre.date}}</span></p>
              <p ng-bind-html="oeuvre.description"></p>
            </div>
            <span class="delete" ng-click="mouvementController.deleteOeuvre($index)" data-id="{{mouvement.id}}"><i data-id="{{mouvement.id}}" class="fa fa-trash-o"></i></span>
        </div>
      </div>
  </div>
  <button class="btn-primary" type="submit" value="add" ng-click="mouvementController.addMouvement()">add Mouvement</button>
</div>
<div id="mouvementPopUpBox" class="popUpBox">
  <form ng-submit="mouvementController.modifyData()">
    <input type="text" placeholder="Title" ng-model="mouvementController.mouvements[mouvementController.selectedObjectIndex]['title']">
    <input type="text" placeholder="Date" ng-model="mouvementController.mouvements[mouvementController.selectedObjectIndex]['date']">
    <div ng-model="mouvementController.mouvements[mouvementController.selectedObjectIndex]['description']" class="container" text-angular></div>
    <button class="addOeuvre" ng-click="mouvementController.addOeuvre()">+</button>
    <input type="submit">
  </form>
</div>
<div id="newMouvementPopUpBox" class="popUpBox">
  <form ng-submit="mouvementController.sendMouvement()">
    <input type="text" placeholder="Title" ng-model="mouvementController.title">
    <input type="text" placeholder="Date" ng-model="mouvementController.date">
    <div ng-model="mouvementController.description" class="container" text-angular></div>
    <button class="addOeuvre" ng-click="mouvementController.addOeuvre()">+</button>
    <input type="submit">
  </form>
</div>
<div id="newOeuvrePopUpBox2" class="popUpBox">
  <form ng-submit="mouvementController.saveOeuvre()">
    <h1>Nouvelle Oeuvre</h1>
    <input type="text" placeholder="Title" ng-model="mouvementController.oeuvreTitle">
    <input type="text" placeholder="Date" ng-model="mouvementController.oeuvreDate">
    <input type="text" placeholder="Url" ng-model="mouvementController.oeuvreUrl">
    <div ng-model="mouvementController.oeuvreDescription" class="container" text-angular></div>
    <input type="submit">
  </form>
</div>
