<div class="item-wrapper">
  <div class="head-page" id="head-word"></div>
  <h1 class="head gr">Mots</h1>
  <div class="searchbar">
    <input type="search" placeholder="Search" ng-model="searchingTerms">
  </div>
  <div class="Word" ng-repeat-end ng-repeat-start="word in wordController.words track by $index" ng-show="word | searching:searchingTerms">
    <div class="alphabetSort" ng-bind="word.title | firstLetterAlphabet:'word'" alphabetsorting></div>
    <h1>{{word.title}}</h1>
    <div class="description-block" ng-bind-html="word.description"></div>
    <span class="delete" ng-click="wordController.removeData()" data-id="{{word.id}}"><i class="fa fa-trash-o"></i></span>
    <span class="modify" ng-click="wordController.promptModifyData($index)"><i class="fa fa-pencil-square-o"></i></span>
  </div>
  <button ng-repeat-end class="btn-primary" type="submit" value="add" ng-click="wordController.addWord()">add Word</button>
</div>
<div id="wordPopUpBox" class="popUpBox">
  <form ng-submit="wordController.modifyData()">
    <input type="text" placeholder="Title" ng-model="wordController.words[wordController.selectedObjectIndex]['title']">
    <div ng-model="wordController.words[wordController.selectedObjectIndex]['description']" class="container" text-angular>
    </div>
    <input type="submit">
  </form>
</div>
<div id="newWordPopUpBox" class="popUpBox">
  <form ng-submit="wordController.sendWord()">
    <input type="text" placeholder="Title" ng-model="wordController.title">
    <div ng-model="wordController.description" class="container" text-angular>
    </div>
    <input type="submit">
  </form>
</div>
